body{
    background-image: url(Images/abstract-template-background-white-and-bright-blue-squares-overlapping-with-halftone-and-texture-free-vector.jpg);
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 66xp;
    color: white;
    text-align: center;
}